.container-cards {
    width: 100%;
    padding: 20px 2px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.card-contacto {
    width: 90%;
    max-width: 14.375rem;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 7px;
    box-shadow: 7px 7px 12px -10px rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-contacto .card-img {
    width: 3.5rem;
    height: 4.5rem;
    margin: 0 auto;
    border-radius: 7px;
    overflow: hidden;
}

.card-contacto .card-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.card-contacto .card-header {
    margin-top: 20px;
}

.card-contacto .card-header h2 {
    text-align: center;
    margin: 0;
}

.card-contacto .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-contacto .card-body p {
    font-weight: 300;
}

.card-contacto .card-body button {
    font-weight: 300;
}

@media screen and (min-width:992px) {
    .container-cards {
        margin: 60px auto;
    }

    .card-contacto .card-header h2 {
        font-size: 1.5rem;
        text-align: center;
        margin: 0;
    }
}